{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block content %}
    <h1>new</h1>
    <p>{{ message }}</p>
    <form action="create/upload" enctype="multipart/form-data" method="post">
        <label for="file">File:</label>
        <input type="file" id="file" name="file" accept="application/pdf" />
        <button>submit</button>
    </form>
{% endblock %}